/* mod_member_rating_list */
/* mod_member_rating_list */
/* mod_member_rating_list */
.member_rating .mod_member_rating_list .comment {
	position: relative;
}

.member_rating .mod_member_rating_list .col_1 {
	position: absolute;
	left: 0;
}

.member_rating .mod_member_rating_list .col_2 {
	left: 80px;
	top: 0;
	position: relative;
	min-height: 80px;
}


/* mod_member_rating_logged_in_users_profile */
/* mod_member_rating_logged_in_users_profile */
/* mod_member_rating_logged_in_users_profile */

/* socialmedia links */
.member_rating .socialmediaSection .image_container {
    display: inline;
    margin-right: 10px;
    position: relative;
    z-index: 1;
}

.member_rating .socialmediaSection  .removeSocialmediaIcon {
    position: absolute;
    right: -5px;
    bottom: -5px;
    z-index: 2;
}

/* avatar */
.member_rating .loggedInUserProfile .avatar .image_container img,
.member_rating .ratedUserProfile .avatar .image_container img{
	display: inline;
}

.member_rating .loggedInUserProfile .avatar .image_container,
.member_rating .ratedUserProfile .avatar .image_container{
	border: 1px solid gray;
	width: auto;
	display: inline-block;
	position: relative;
}

.member_rating .loggedInUserProfile .avatar .gradeIcon,
.member_rating .ratedUserProfile .avatar .gradeIcon{
	position: absolute;
	top: -4px;
	right: -20px;
}




/* mod_member_rating_detail */
/* mod_member_rating_detail */
/* mod_member_rating_detail */

/* comments */
.member_rating  .row {
	position: relative;
}

/* top3*/
.member_rating  .top3 .col_1 {
	position: absolute;
	left: 0;
}

.member_rating  .top3 .col_2 {
	position: relative;
	min-height: 80px;
	top: 0;
}

/* top3 */
.member_rating  .top3 .row {
	position: relative;
}

.member_rating  .top3 .col_0 {
	position: absolute;
	top: 0;
	left: 0;
}

.member_rating  .top3 .col_1 {
	position: relative;
	top: 0;
	left: 50px;
	min-height: 80px;
}

/* all ratings */
.member_rating  .allRatings .row {
	position: relative;
}

.member_rating .allRatings .col_0 {
	display: none;
}

.member_rating  .allRatings .col_1 {
	position: absolute;
	top: 0;
	left: 0;
}

.member_rating .allRatings .col_2 {
	position: relative;
	top: 0;
	left: 50px;
	min-height: 80px;
}

/* only display visibility icon to comment-owner*/
.member_rating .allRatings .myprofile .col_0 {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}

.member_rating  .allRatings .myprofile .col_1 {
	position: absolute;
	top: 0;
	left: 50px;
}

.member_rating  .allRatings .myprofile .col_2 {
	position: relative;
	top: 0;
	left: 140px;
	min-height: 80px;
}

/*starbox*/
.member_rating .starbox {
	display: inline;
}

